.main {
    overflow-y: auto;
    width: calc(80vw - 40px);
}
.buttonSave {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    transition: all .5s ease;
}
.buttonSave:hover:not(:disabled), .buttonSave:active:not(:disabled) {
    animation: scale-up 1s ease-in-out;
}
.buttonSave:disabled {
    background: #900000;
    cursor: default;
}
@keyframes scale-up {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@media (max-width:768px) {
    .main {
        width: calc(100vw - 40px);
    }
}