.main {
    overflow-y: auto;
    width: calc(80vw - 40px);
}
.fileButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}
.fileButtons > :nth-child(2) {
    justify-self: end;
}
.fileExport input[type="file"] {
  display: none;
}
.fileExport {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    cursor: pointer;
    text-align: center;
    background-color: rgba(76, 175, 80, .8);
    border: none;
    border-radius: 4px;
    max-width: 50%;
    padding: 5px 15px;
    font-size: 14px;
    transition: all .5s;
    width: 100%;
}
.fileExport:hover:not(:disabled) {
    max-width: 100%;
}
.buttonSave {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    transition: all .5s ease;
}
.buttonSave:hover:not(:disabled), .buttonSave:active:not(:disabled) {
    animation: scale-up 1s ease-in-out;
}
.buttonSave:disabled {
    background: #900000;
    cursor: default;
}
@keyframes scale-up {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@media (max-width:768px) {
    .main {
        width: calc(100vw - 40px);
    }
    .fileButtons {
        grid-template-columns: 1fr;
    }
}