.buttonBlock {
    border: 1px solid white;
}
.categoryTitle {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    padding: .5em 1.5em;
    justify-content: center;
    font-size: 1em;
    border: 1px solid white;
    text-align: center;
}
@media (max-width:768px) {
    .categoryTitle {
        flex-basis: 100%;
    }
    .buttonBlock {
        flex-basis: 20%;
    }
}
@media (max-width:440px) {
    .buttonBlock {
        flex-basis: 33.33%;
        min-height: 1.5em;
    }
}