.timer {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: #000;
    padding: .5em;
    border-radius: 50%;
    font-size: 24px;
    width: 2em;
    text-align: center;
}
@media (max-width:768px) {
    .timer {
        font-size: 20px;
        border: 1px solid #fff;
        transform: translate(-15%, 15%);
    }
}