.player {
    flex: 1;
    text-align: center;
    margin: 1em;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-end;
}
.playerBlock {
    background: black;
    color: white;
    padding: .4em 1em;
    font-weight: 700;
}
.playerBlock_score {
    background: rgba(0, 0, 0, .7);
}
.player .buttonAnswer {
    background: #900000;
    border: none;
    border-radius: 5px;
    padding: .3em .7em;
    font-size: .8em;
    cursor: pointer;
    color: white;
    transition: .3s;
}
.player .buttonAnswer:hover, .player .buttonAnswer:active {
    transform: scale(1.05);
}
.playerTimer {
    width: 100%;
    height: .3em;
    background: white;
    border-radius: 5px;
    position: relative;
}
.playerTimer_line {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: black;
}
.blockIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5em;
}
.buttonIcons {
    border: none;
    border-radius: 5px;
    padding: .3em .7em;
    font-size: .8em;
    cursor: pointer;
    color: white;
    transition: .3s;
}
.buttonIcons:nth-child(1) {
    background: #6E8817;
}
.buttonIcons:nth-last-child(1) {
    background: #900000;
}
.buttonIcons:hover, .buttonIcons:active {
    transform: scale(1.1);
}
@keyframes slideOut {
    0% {
      width: 100%;
    }
    100% {
        width: 0;
    }
}