.row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-end;
}
.rowInput {
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    transition: 1s;
    border: 1px solid #ccc;
}
.rowDelete {
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    background: #900000;
    color: white;
}
.row:has(.rowDelete:hover) .rowInput, .row:has(.rowDelete:active) .rowInput {
    width: 0;
}