.players {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.players:not(:nth-child(1)) {
    margin-top: 15px;
}
.subtitle {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-radius: 8px;
    flex-direction: column;
}
.subtitle span {
    border-bottom: 1px solid;
}
.subtitleDelete {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
}
.subtitleDelete button {
    background-color: #900000;
    color: white;
    border: none;
    padding: 3px 6px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}
.subtitleDelete button:active, .subtitleDelete button:hover {
    opacity: .7;
}
.collapse {
    margin: 3px;
    padding: 3px;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid black;
    transition: .3s;
}
.collapse:hover {
    background-color: #f9f9f9;
}
.buttonAdd {
    background-color: rgba(76, 175, 80, .6);
    color: white;
    padding: 5px 15px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    max-width: 50%;
    transition: .5s;
}
.buttonAdd:hover:not(:disabled), .buttonAdd:active:not(:disabled) {
    max-width: 100%;
}
.buttonAdd:disabled{
    background: #900000;
    cursor: default;
}