* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

.button-setting {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: .7em 1.3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    position: absolute;
    transform: translate(10px, 10px);
    z-index: 1;
}
.button-setting:hover {
    background-color: #45a049;
    transform: scale(1.1) translate(10px, 10px);
}
.button-setting:active {
    background-color: #387940;
}
.button-setting span {
    margin-left: .5em;
}
@media (max-width:768px) {
    .button-setting span {
        display: none;
    }
}
@media (max-width:440px) {
    .button-setting {
        font-size: 12px;
    }
}