.players {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.players:not(:nth-child(1)) {
    margin-top: 15px;
}
.buttonAdd {
    background-color: rgba(76, 175, 80, .7);
    color: white;
    padding: 5px 15px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    max-width: 50%;
    transition: .5s;
}
.buttonAdd:hover:not(:disabled), .buttonAdd:active:not(:disabled) {
    max-width: 100%;
}
.buttonAdd:disabled{
    background: #900000;
    cursor: default;
}
.buttonWide {
    max-width: 100%;
}
.buttonWide:hover:not(:disabled), .buttonWide:active:not(:disabled) {
    background-color: #4caf50;
}